@{
    ViewBag.Title = "Pricing Plans";
}

<div class="jumbotron">
    <h1>Pricing & Plans</h1>
    <p class="lead">Check out our awesome plans!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Standard</h2>
        <p>
            Standard plan blah blah blah blah
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Premium</h2>
        <p>Yada yada yadafalejtlakwetjalkejj lkasjdj taletskj alwetj aewtlkjt  t ket ttlkajwe t </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Professional</h2>
        <p>Blahb blah blah blah blah blah blah blah a.kset flkjflroeuk ipslmj te</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>