@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Congratulations! You've activated your subscription!</h1>

        <p>@ViewBag.StripeCustomerID</p>
    </div>
</body>
</html>
